Repository SCons/scons, pull requests merged in 2019-04, with the labels that each got.

#3358 Fix Issue #3350 mslink tempfile join char
  doc/generated/examples/caching_ex-random_1.xml
  doc/generated/examples/troubleshoot_Dump_1.xml
  doc/generated/examples/troubleshoot_Dump_2.xml
  doc/generated/examples/troubleshoot_explain1_3.xml
  doc/generated/tools.gen
  doc/generated/tools.mod
  doc/generated/variables.gen
  doc/generated/variables.mod
  src/CHANGES.txt
  src/RELEASE.txt
  src/engine/SCons/Defaults.py
  src/engine/SCons/Platform/PlatformTests.py
  src/engine/SCons/Platform/__init__.py
  src/engine/SCons/Platform/__init__.xml
  src/engine/SCons/Tool/mslib.py
  src/engine/SCons/Tool/mslink.py
  src/engine/SCons/Tool/msvc.py
Labels: MSVC, Op Sys: Windows

#3352 Fix problems with jdk detection
  src/CHANGES.txt
  src/engine/SCons/Tool/JavaCommon.py
  src/engine/SCons/Tool/JavaCommonTests.py
  src/engine/SCons/Tool/jar.py
  src/engine/SCons/Tool/javac.py
  src/engine/SCons/Tool/javah.py
  src/engine/SCons/Tool/rmic.py
  test/Java/RMIC.py
  test/Repository/RMIC.py
  testing/framework/TestSCons.py
Labels: Java

#3359 Fix Issue #3135 - Type Bound procedures in Fortran submodules
  src/CHANGES.txt
  src/engine/SCons/Scanner/Fortran.py
  src/engine/SCons/Scanner/FortranTests.py
  src/engine/SCons/Tool/FortranCommon.py
  src/engine/SCons/Tool/FortranCommonTests.py
  test/fixture/fortran_unittests/test_1.f90
  test/fixture/fortran_unittests/test_2.f90
  test/fixture/fortran_unittests/test_submodules.f90
  testing/framework/TestCmd.py
Labels: Fortran
