Repository SCons/scons, pull requests merged in 2021-10, with the labels that each got.

#4013 Do not convert throwaway input from gcc tool.
  CHANGES.txt
  SCons/Tool/gcc.py
  test/CC/gcc-non-utf8-fixture/.exclude_tests
  test/CC/gcc-non-utf8-fixture/data
  test/CC/gcc-non-utf8-fixture/gcc-non-utf8.py
  test/CC/gcc-version.py
Labels: Tools

#3963 Scanner tweaks
  CHANGES.txt
  SCons/Scanner/C.py
  SCons/Scanner/CTests.py
  SCons/Scanner/D.py
  SCons/Scanner/DTests.py
  SCons/Scanner/Dir.py
  SCons/Scanner/Fortran.py
  SCons/Scanner/IDL.py
  SCons/Scanner/LaTeX.py
  SCons/Scanner/LaTeXTests.py
  SCons/Scanner/Prog.py
  SCons/Scanner/Python.py
  SCons/Scanner/PythonTests.py
  SCons/Scanner/RC.py
  SCons/Scanner/RCTests.py
  SCons/Scanner/SWIG.py
  SCons/Scanner/ScannerTests.py
  SCons/Scanner/__init__.py
  SCons/cpp.py
  doc/man/scons.xml
Labels: maintenance, scanner

#4029 Change SCons.Scanner.Base to ScannerBase
  CHANGES.txt
  SCons/BuilderTests.py
  SCons/Environment.py
  SCons/Scanner/Dir.py
  SCons/Scanner/LaTeX.py
  SCons/Scanner/Prog.py
  SCons/Scanner/Python.py
  SCons/Scanner/ScannerTests.py
  SCons/Scanner/__init__.py
  SCons/Script/__init__.py
  SCons/Tool/__init__.py
  SCons/Tool/install.py
  SCons/Tool/qt.py
  test/CacheDir/scanner-target.py
  test/CacheDir/source-scanner.py
Labels: scanner

#3996 Added ninja API 'NINJA_FORCE_SCONS_BUILD' to force a node to callback to scons
  CHANGES.txt
  RELEASE.txt
  SCons/Tool/ninja/Methods.py
  SCons/Tool/ninja/NinjaState.py
  SCons/Tool/ninja/__init__.py
  SCons/Tool/ninja/ninja.xml
  test/ninja/force_scons_callback.py
  test/ninja/ninja_test_sconscripts/sconstruct_force_scons_callback
Labels: Ninja
