Repository SCons/scons, pull requests merged in 2023-03, with the labels that each got.

#4313 Fix test/textfile/textfile.py test failing (only on windows)
  test/textfile/textfile.py
Labels: testsuite

#4318 Remove redundant wheel dep from pyproject.toml
  CHANGES.txt
  RELEASE.txt
  pyproject.toml
Labels: Release

#4308 Update test framework tutorial
  .editorconfig
  testing/framework/test-framework.rst
Labels: Documentation

#4329 Fix dictifyCPPDEFINES handling of macro strings
  CHANGES.txt
  RELEASE.txt
  SCons/Scanner/C.py
  SCons/Scanner/CTests.py
Labels: scanner
