Repository SCons/scons, pull requests merged in 2023-01, with the labels that each got.

#4127 Build a scons-local zipapp (per PEP 441)
  CHANGES.txt
  RELEASE.txt
  site_scons/scons_local_package.py
  site_scons/zip_utils.py
Labels: Release

#4289 Fix problem where Java inner classes cannot cache
  CHANGES.txt
  RELEASE.txt
  SCons/CacheDir.py
  test/Java/inner-cacheable-live.py
Labels: Java, cachedir

#4293 Add Python 3.12 support
  CHANGES.txt
  RELEASE.txt
  SCons/ActionTests.py
  setup.cfg
  test/rebuild-generated.py
Labels: Release

#4292 Adjust the appveyor build
  .appveyor.yml
  .appveyor/exclude_tests.ps1
  .appveyor/install-cov.bat
  .appveyor/install.bat
Labels: CI / buildbot

#4291 Doc: update msvc, add version table
  CHANGES.txt
  RELEASE.txt
  SCons/Tool/msvc.xml
Labels: Documentation, MSVC

#4290 Tweak gfortran tool to respect tool setting
  CHANGES.txt
  RELEASE.txt
  SCons/Tool/fortran.xml
  SCons/Tool/gfortran.py
  SCons/Tool/linkCommon/__init__.py
  test/Fortran/F95FLAGS.py
  test/Fortran/SHF95FLAGS.py
  test/Fortran/link-with-cxx.py
Labels: Fortran

#4287 Docs: update MSVSProject, MSVSSolution
  CHANGES.txt
  RELEASE.txt
  SCons/Tool/docbook/__init__.py
  SCons/Tool/msvs.xml
Labels: Documentation

#3421 Run latex after bibtex/biber only when necessary
  CHANGES.txt
  RELEASE.txt
  SCons/Tool/tex.py
  test/TEX/biber_biblatex2.py
  test/TEX/bibtex-latex-rerun.py
Labels: LaTex

#4295 Add "append" kwarg to two configure checks
  CHANGES.txt
  RELEASE.txt
  SCons/SConf.py
  SCons/SConfTests.py
  doc/man/scons.xml
Labels: Configure()

#4161 Non-conftest nodes involved in configure checks now get node info cleared after check.
  CHANGES.txt
  RELEASE.txt
  SCons/SConf.py
  SCons/SConfTests.py
  test/Configure/conftest_source_file.py
  test/Configure/conftest_source_file/SConstruct
  test/Configure/conftest_source_file/header1.h
  test/Configure/conftest_source_file/header2.h
  test/Configure/conftest_source_file/header3.h
  test/Configure/conftest_source_file/main.c
  test/sconsign/script/Configure.py
  testing/framework/TestSCons.py
Labels: Configure()

#4297 Add unique kwarg to CheckLibs
  CHANGES.txt
  RELEASE.txt
  SCons/Conftest.py
  SCons/SConf.py
  SCons/SConfTests.py
  doc/man/scons.xml
Labels: Configure()
