Repository SCons/scons, pull requests merged in 2024-12, with the labels that each got.

#4657 Add `Variables.defaulted` attribute
  CHANGES.txt
  RELEASE.txt
  SCons/Variables/VariablesTests.py
  SCons/Variables/__init__.py
  doc/man/scons.xml
Labels: Variables

#4626 Improve C scanner conditional inclusion
  CHANGES.txt
  RELEASE.txt
  SCons/Scanner/C.py
  SCons/Scanner/CTests.py
Labels: scanner

#4658 Turn `SCons.Variables.Variable` into a dataclass
  CHANGES.txt
  RELEASE.txt
  SCons/Variables/VariablesTests.py
  SCons/Variables/__init__.py
Labels: Variables

#4664 Change update-release-info test for Python changes
  CHANGES.txt
  test/update-release-info/update-release-info.py
Labels: testsuite

#4663 Tweak Variables docs
  CHANGES.txt
  RELEASE.txt
  SCons/Tool/install.xml
  SCons/Variables/EnumVariable.py
  SCons/Variables/ListVariable.py
  SCons/Variables/__init__.py
  doc/man/scons.xml
Labels: documentation, Variables

#4627 Modernize stat usage
  CHANGES.txt
  RELEASE.txt
  SCons/CacheDir.py
  SCons/Node/FS.py
  SCons/Node/FSTests.py
  SCons/Tool/install.py
  site_scons/Utilities.py
  test/Actions/append.py
  test/Actions/pre-post.py
  test/Chmod.py
  test/Decider/MD5-timestamp-Repository.py
  test/Decider/MD5-timestamp.py
  test/Decider/timestamp.py
  test/Removed/BuildDir/Old/BuildDir.py
  test/Removed/BuildDir/Old/SConscript-build_dir.py
  test/VariantDir/SConscript-variant_dir.py
  test/VariantDir/VariantDir.py
  test/VariantDir/errors.py
  test/ZIP/ZIP.py
  test/option/option--duplicate.py
  test/sconsign/script/Configure.py
  test/sconsign/script/SConsignFile.py
  test/sconsign/script/Signatures.py
  test/sconsign/script/dblite.py
  test/sconsign/script/no-SConsignFile.py
  testing/framework/TestCmd.py
  testing/framework/TestCmdTests.py
  testing/framework/TestCommon.py
  testing/framework/TestCommonTests.py
Labels: maintenance

#4668 Set TEMPLATE rule to `install_pool` for the Ninja tool
  CHANGES.txt
  RELEASE.txt
  SCons/Tool/ninja_tool/NinjaState.py
Labels: Ninja

#4670 Fix Help()'s local_only arg to match documents.
  CHANGES.txt
  RELEASE.txt
  SCons/Script/SConscript.py
  SCons/Script/__init__.py
  test/Help.py
  test/fixture/SConstruct_HELP_AddOption.py
Labels: args_and_options

#4665 Update docs on special method evaluation
  CHANGES.txt
  RELEASE.txt
  doc/generated/examples/builderscommands_ex3_1.xml
  doc/user/builders-commands.xml
  doc/user/environments.xml
  doc/user/nodes.xml
Labels: documentation

#4669 test framework: bulk reformat
  CHANGES.txt
  testing/framework/TestCmd.py
  testing/framework/TestCmdTests.py
  testing/framework/TestCommon.py
  testing/framework/TestCommonTests.py
  testing/framework/TestRuntest.py
  testing/framework/TestSCons.py
  testing/framework/TestSConsMSVS.py
  testing/framework/TestSCons_time.py
  testing/framework/TestSConsign.py
  testing/framework/TestUnit/cli.py
  testing/framework/TestUnit/taprunner.py
Labels: maintenance
