Repository SCons/scons, pull requests merged in 2024-01, with the labels that each got.

#4456 Fix sphinx's conf.py to handle SCons versions like 4.6.0.post1
  CHANGES.txt
  RELEASE.txt
  doc/sphinx/conf.py
Labels: documentation, Release

#4445 Fix 4320: add an optional argument list string to the configure CheckFunc method
  CHANGES.txt
  RELEASE.txt
  SCons/Conftest.py
  SCons/SConf.py
  SCons/SConfTests.py
  doc/man/scons.xml
  test/Configure/config-h.py
Labels: Configure

#4457 Initial Python 3.13 support
  CHANGES.txt
  RELEASE.txt
  SCons/ActionTests.py
  setup.cfg
Labels: python 3.13

#4459 DOC: Fixing typo where word "too" should read "tool" in preface.xml
  CHANGES.txt
  doc/user/preface.xml
Labels: documentation

#4464 Make the NewParallel scheduler the default, even for -j1 builds
  CHANGES.txt
  RELEASE.txt
  SCons/SConf.py
  SCons/Script/Main.py
  SCons/Script/SConsOptions.py
  SCons/Taskmaster/Job.py
  SCons/Taskmaster/JobTests.py
  doc/man/scons.xml
  test/Interactive/taskmastertrace.py
  test/option/fixture/taskmaster_expected_new_parallel.txt
  test/option/option--experimental.py
  test/option/taskmastertrace.py
Labels: taskmaster

#4466 Decode command output conservatively
  CHANGES.txt
  RELEASE.txt
  SCons/Platform/win32.py
Labels: Op Sys: Windows, Configure
