Repository SCons/scons, pull requests merged in 2024-09, with the labels that each got.

#4584 [Platform win32] Fix crash when pipe encoding is set to None
  CHANGES.txt
  RELEASE.txt
  SCons/Platform/win32.py
Labels: Op Sys: Windows, platform code

#4591 PackageVariable now returns the default on "true"
  CHANGES.txt
  RELEASE.txt
  SCons/Variables/ListVariable.py
  SCons/Variables/PackageVariable.py
  doc/man/scons.xml
  test/Variables/PackageVariable.py
Labels: Variables

#4574 Don't let deletions leak from OverrideEnvironment
  CHANGES.txt
  RELEASE.txt
  SCons/Environment.py
  SCons/Environment.xml
  SCons/EnvironmentTests.py
  SCons/Tool/packaging/__init__.py
  SCons/Tool/packaging/rpm.py
Labels: Environment

#4596 Fix some AddOption issues
  CHANGES.txt
  RELEASE.txt
  SCons/Script/Main.py
  SCons/Script/SConsOptions.py
  test/AddOption/basic.py
Labels: args_and_options

#4599 Fix initialization of compilation_db emitters
  CHANGES.txt
  RELEASE.txt
  SCons/Tool/compilation_db.py
Labels: compliation_db

#4600 Add clang, clang++ to default tool search
  CHANGES.txt
  RELEASE.txt
  SCons/Tool/__init__.py
  doc/man/scons.xml
Labels: Tools

#4602 Tweak User Guide environment descriptions
  CHANGES.txt
  RELEASE.txt
  SCons/EnvironmentTests.py
  SCons/Subst.xml
  doc/generated/functions.gen
  doc/generated/variables.gen
  doc/scons.mod
  doc/user/command-line.xml
  doc/user/environments.xml
  doc/user/parseconfig.xml
  doc/user/preface.xml
Labels: documentation

#4601 Clean up manpage entries for gettext and pdf builders
  CHANGES.txt
  RELEASE.txt
  SCons/Tool/dvips.xml
  SCons/Tool/gettext.xml
  SCons/Tool/msgfmt.xml
  SCons/Tool/msginit.xml
  SCons/Tool/msgmerge.xml
  SCons/Tool/pdf.xml
  SCons/Tool/xgettext.xml
Labels: documentation

#4603 Handle permission errors while generating paths on Darwin
  CHANGES.txt
  RELEASE.txt
  SCons/Platform/darwin.py
Labels: Op Sys: macOS, platform code
